body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

/*
    Classes most used for styling purposes only and always recommended
    Ids used only for styling purposes not ideal, but for extra logic related with JS or JQuery (or with linking - scroll to that element on the page)
 */

a.active { /* targets all <a> elements that have an "active" class */
    color: #521751;
}

/*
    It is always better to style using the positive case instead of not
 */
a:not(.active) {
    color: blue;
}

.main-section {
    height: 800px;
    border: 1px solid #ccc /* !important -> overrides all the specifities and is NOT recommended */;
    padding: 16px;
}

.highlighted {
    border: 2px solid #fa923f;
}